//- extends ../layout

//- block content
.login-signup-wrapper
  .login-signup-row
    .create-tab-bar
      .tab-item.first.active.login-button(data-target="tab-login")
        span.text Login
      .tab-item(data-target="tab-register")
        span.text Create Account
    .create-tab-panel
      .tab-content.open#tab-login
        form(method='POST' action='/login' autocomplete="current-user")
          input(type='hidden' name='_csrf', value=_csrf)
          .login-col
            //- .login-signup-title sign in
            .login-form
              input.input-field(type='email' name='email' placeholder='email', autofocus, autocomplete='current-email', required)
              input.input-field(type='password' name='password' placeholder='password' autocomplete='current-password', required)
            .social-buttons-wrapper
              include ../partials/social
              button.signup(type='submit')
                div.content
            .forgot-password forgot password?
      .tab-content#tab-register
        form#signup-form(method='POST' action='/signup' autocomplete="new-user")
          input(type='hidden' name='_csrf', value=_csrf)
          .signup-col
            //- .login-signup-title create an account
            .signup-form
              input.input-field(type='email' name='email' placeholder='email', autofocus, autocomplete='new-email', required)
              input.input-field(type='password' name='password' placeholder='password' autocomplete='new-password' minlength='6', required)
            .social-buttons-wrapper.signup
              include ../partials/social
              button.signup
                div.content
            .terms-confirmation By creating an account, you acknowledge and accept all of our policies
    