extends ../layout

block content
  .login-signup-wrapper
    .login-signup-row
      form.reset-form(method='GET', action="/login")
        .signup-col
          .signup-form
            button.form-button.signup(type='submit') login