.example-modal(style="display: none;")
	.main-container
		.content
			.left-container
				input.title-input(value="" type="text" placeholder="Example Project 2")
				input.vimeo-input(value="" type="text" placeholder="Vimeo Id")
				input(accept="image/*" id="upload-example-thumbnail" type="file")
				.upload-thumbnail-btn-container
					button#upload-thumbnail-btn Upload Image
			textarea.description-input(placeholder="Add an awesome description here")
		button.submit-btn Save