.main-menu
  a.title-block1(href="/")
    .arcadestudio-title arcade.studio
  .title-block
    if isAdmin
      .btns-dash.btn-admin-save(style="opacity: 1;")
        .save save
      .btns-dash.btn-admin-cancel(style="opacity: 1;")
        .cancel-edit cancel
      .add-sample-wrapper
        .btn-admin-edit
          img(src="https://arcadestudio-assets.s3.us-east-2.amazonaws.com/website/master/add-btn.svg" width="13")
    else
      .menu-hamburger
        div#nav-icon3
          span
          span
          span
          span
  //- unless isAdmin
  //-   .main-menu-link-wrapper
  //-     .main-menu-link
  //-       a.nav-link(class=(title === 'Explore') ? 'active' : undefined, href='/') explore
  //-     .main-menu-link
  //-       a.nav-link(class=(title === 'Learn') ? 'active' : undefined, href='/learn') learn
  //-     .main-menu-link
  //-       a.nav-link(class=(title === 'Create') ? 'active' : undefined, href='/create') create
