.popuplearn-wrapper
  .learn-popup
    .popup-body
      .player-wrapper
        .js-player(data-plyr-provider="vimeo", data-plyr-embed-id="")
      style.player-wrapper-style
    //- .popup-close
      img(src="https://arcadestudio-assets.s3.us-east-2.amazonaws.com/engine-ui/delete-icon.svg" width="15" height="15" alt="")