.popup2-wrapper
  .app-popup-share
    .popup-social-content
      .popup-social-div.icons
        .popup-social-icons
          .social-icon-div
            img(src="https://assets.website-files.com/5ec05b88f1d42169e6cdc80e/610271449afefe2452e75df9_facebook.svg" class="shareOnFacebook social-icon-div" alt="facebook" title="facebook")
          .social-icon-div
            img(src="https://arcadestudio-assets.s3.us-east-2.amazonaws.com/website/master/share/twitterLogo.svg" class="shareOnTwitter social-icon-div" alt="twitter" title="twitter")
          .social-icon-div
            img(src="https://assets.website-files.com/5ec05b88f1d42169e6cdc80e/610271453978c978c7bc1e4f_reddit.svg" class="shareOnReddit social-icon-div" alt="reddit" title="reddit")
          .social-icon-div
            img(src="https://assets.website-files.com/5ec05b88f1d42169e6cdc80e/61027145e57f5330086baa58_linkedin.svg" class="shareOnLinkedin social-icon-div" alt="linkedin" title="linkedin")
          .social-icon-div
            img(src="https://assets.website-files.com/5ec05b88f1d42169e6cdc80e/610271454dda15c8154d623b_pinterest.svg" class="shareOnPinterest social-icon-div" alt="pinterest" title="pinterest")
          .social-icon-div
            a.shareViaEmail
              img(src="https://assets.website-files.com/5ec05b88f1d42169e6cdc80e/61027143a43d72b49102112c_email.svg" class="shareOnEmail social-icon-div" alt="email" title="email")
      div
        .popup-social-div
          .social-url-copy-title Link
          .social-url-copy-link
        .popup-social-div.middle
          .social-embed-text-title Embed
          .social-embed-text-copy
      .popup-social-div.last
        .social-close-btn-text close
        .social-copied-btn-text COPIED TO CLIPBOARD
