.social-buttons
  a.social-media-button.facebook-button(href='/auth/google')
    img(src='https://arcadestudio-assets.s3.us-east-2.amazonaws.com/website/master/control-panel/icon-login-google.svg' width='20' alt='google')
  //- a.social-media-button.facebook-button(href='/auth/apple')
    img(src='https://arcadestudio-assets.s3.us-east-2.amazonaws.com/website/master/control-panel/icon-login-apple.svg' alt='apple' style="filter: invert(100%)")
  a.social-media-button.twitter-button(href='/auth/twitter')
    img(src='https://arcadestudio-assets.s3.us-east-2.amazonaws.com/website/master/control-panel/icon-login-twitter.svg' width='22' alt='twitter')
  a.social-media-button.facebook-button(href='/auth/facebook')
    img(src='https://arcadestudio-assets.s3.us-east-2.amazonaws.com/website/master/control-panel/icon-login-facebook.svg' width='20' alt='facebook')