{
  "presets": [
    // "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-transform-react-jsx", {
      "pragma": "h",
      "pragmaFrag": "Fragment"
    }],
    ["@babel/plugin-proposal-class-properties"],
    ["@babel/plugin-transform-runtime", {"regenerator": true}]
  ]
}